<% title "My Profile" %>

<h1 class="title"> <%= current_user.first_name + " " + current_user.last_name %> </h1>
<%= link_to "Current Accounts", accounts_path, class: "btn btn-primary" %>
<%= link_to "Current Credit Cards", credit_cards_path, class: "btn btn-primary" %>

<h2 class="profile-account-info-title">Bank Account Information</h2>
<ul class="profile-list">
    <li class="profile-list-item"> Username: <%= current_user.username %> </li>
    <li class="profile-list-item"> Email: <%= current_user.email %> </li>
    <li class="profile-list-item"> Phone: <%= current_user.phone_number %> </li>
    <li class="profile-list-item"> First Name: <%= current_user.first_name %> </li>
    <li class="profile-list-item"> Last Name: <%= current_user.last_name %> </li>
    <li class="profile-list-item"> Date Joined: <%= current_user.created_at %> </li>
</ul>

<%= link_to "Edit Account", edit_user_path(@user) %> |
<%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure?"} %>