<!DOCTYPE html>
<html>
  <head>
    <title>Comfort Bank<%= " | " + yield(:title) unless yield(:title).blank? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Bank System created to keep track of members and their accounts.">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-bar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "Comfort Bank", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <%= nav_link "Home", root_path %>
          <%= nav_link "About", "/about" %>
          <%= nav_link "Contact", "/contact" %>
          <% if current_user %>
            <%= nav_link "Accounts", accounts_path %>
          <% end %>
        </ul>
        <ul class="navbar-nav pull-right mr-auto">
          <% if current_user %>
          <%= nav_link current_user.first_name + " " + current_user.last_name, current_user %>
            <%= nav_link "Logout", logout_path %>
          <% else %>
            <%= nav_link "Sign Up", signup_path %>
            <%= nav_link "Login", login_path %>
          <% end %>
        </ul>
      </div>
      
    </nav>

    <main role="main" class="container">
      
      <div id="flash-messages" class="row">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger' %> alert-dismissable col" role="alert">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>

      <div class="starter-template">
        <%= yield %>
      </div>

    </main>
    
    <footer>
      <h3>&copy2020 Comfort Bank</h3>
    </footer>

  </body>
</html>
